<!-- Header -->
<div class="page-header page-header-projects">
    <h1>New user</h1>
</div>

<!-- Breadcrumbs -->
<ul class="breadcrumb">
    <li><%= link_to "Users", users_path %> <span class="divider">/</span></li>
    <li class="active">New user</li>
</ul>

<%= render :partial => "user_edit", :locals => { :user => @user } %>