<div class="page-header page-header-projects">
    <div class="right-buttons">
        <%= link_to "New project", new_project_path, :class => "btn" %>
    </div>
    <h1>Projects TQDQ</h1>
</div>

<%= render :partial => "common/alerts" %>

<table class="table table-projects">
    <thead>
        <tr>
            <th>Name</th>
            <th>Administrators</th>
            <th>Progress</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <% @projects.each do |project| %>
            <tr>
                <td class="cell-bold">
                    <%= link_to project.name, project %>
                </td>
                <td>
                    <%= link_to project.users.map { |u| u.full_name }.join(", "), project %>
                </td>
                <td>
                    <a href="#">
                        <div class="progress-container">
                            <div class="progress">
                                <div class="bar" style="width: 60%;"></div>
                            </div>
                        </div>
                    </a>
                </td>
                <td>
                    <a href="#">
                        <span class="label label-success">up-to-date</span>
                    </a>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
