// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td .progress-container
{
    display: inline-block;
    height: 16px;    
}

.table-projects,
.table-languages
{
    td
    {
        max-width: 260px;
        cursor: pointer;
        padding: 0px;
        a
        {
            display: block;
            height: 100%;
            padding: 8px;
            color: black;  
            min-height: 18px;    
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;     
        }
        a:hover
        {
            text-decoration: none;
        }
    }
    tbody tr:hover
    {
        background-color: #f5f5f5;
    }
}

.table-projects
{
    .progress-container
    {
        width: 140px;
    }
}

.table-files
{
    td
    {
        min-height: 18px;
    }
    td.cell-link
    {
        cursor: pointer;
        padding: 0px;
        a
        {
            display: block;
            padding: 8px;
            height: 100%;
            color: black;  
            min-height: 18px;  
        }
        a:hover
        {
            text-decoration: none;
        }
    }
    td.cell-link:hover
    {
        background-color: #f5f5f5;
    }
}

.table-add-files
{
    input[type="checkbox"]
    {
        margin-bottom: 6px; 
    }
}
