.header-filename
{

}

.table-strings
{
	.cell-header-option
	{
		width: 15px;
	}
	.cell-option
	{
		width: 15px;
		cursor: pointer;
		.icon-white
		{
			display: none;
		}
	}
	.cell-option:hover
	{
		background-color: black;
		opacity: 1;
		i
		{
			display: none;
		}
		.icon-white
		{
			display: inline-block;
		}
	}
	.cell-option-disabled
	{
		opacity: 0.2;
	}
	.cell-key
	{
		font-weight: bold;
	}
	.cell-key,
	.cell-base,
	.cell-translation
	{
		max-width: 274px;
		width: 274px;
		div
		{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;			
		}
	}
	.cell-base,
	.cell-translation
	{
		color: #6e6e6e;
	}
	.cell-editing
	{
		border-top: none;
		padding: 0px;
		.div-edit-fields
		{
			tr.row-base
			{
				border-bottom: 1px dashed #dddddd;
			}
			td
			{
				padding: 0px;
				border-top: none;
			}
			textarea
			{
				width: 453px;
				height: 100px;
				margin: 0px;
				padding: 8px;
				outline: none;
				border: none;
				border-radius: 0px;
				resize: none;
				background-color: #fbfbfb;
				-webkit-box-shadow: none;
			       -moz-box-shadow: none;
			            box-shadow: none;
			    cursor: text;
			}
			.row-translation textarea:focus
			{
				outline: none;
				border: none;
				background-color: white;
				-webkit-box-shadow: none;
			       -moz-box-shadow: none;
			            box-shadow: none;
			}
			.cell-comment
			{
				border-left: 1px solid #dddddd;		
			}
			.cell-comment textarea
			{
				color: #b6b6b6;
				padding-right: 9px;
			}
		}
	}
	.row-resting
	{
		cursor: pointer;
	}
	.row-resting:hover,
	.row-editing
	{
		background-color: #f5f5f5;
	}
}

#modalFileList
{
	table tbody
	{
		tr
		{
			cursor: pointer;
		}
		tr:hover
		{
			background-color: #f5f5f5;
		}
	}
}