<% if flash[:notice] %>

	<%
		notice = flash[:notice]

		case notice[:type]
		when :success
			alert_class = " alert-success"
		when :error
			alert_class = " alert-error"
		else
			alert_class = ""
		end
	%>

	<div class="alert <%= alert_class %>">
	    <button type="button" class="close" data-dismiss="alert">×</button>
	    <strong><%= notice[:title] %></strong> <%= notice[:message] %>
	</div>

<% end %>